version: '3.8'
services:

  db:
    image: postgres:13.0-alpine
    volumes:
      - DB:/var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    image: djifrost/foodgram-backend:latest
    restart: always
    volumes:
      - static:/app/static/
      - media:/app/media/
      - redoc:/app/docs/
    depends_on:
      - db
    env_file:
      - ./.env

  frontend:
    image: djifrost/foodgram-frontend:latest
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - redoc:/usr/share/nginx/html/api/docs/
      - static:/var/html/static
      - media:/var/html/media
    restart: always
    depends_on:
      - backend
      - frontend

volumes:
  DB:
  static:
  media:
  redoc:
